dotfiles/config/alacritty/alacritty.yml.old

dotfiles/config/configstore

dotfiles/config/fish/fish_history
dotfiles/config/fish/fish_read_history
dotfiles/config/fish/fishd.*

dotfiles/config/ranger/bookmarks
dotfiles/config/ranger/history

dotfiles/config/ToothAndTail

dotfiles/config/yarn

dotfiles/tmux/plugins

dotfiles/vim/plugged
